{% extends "layout.html" %}
{% block content %}
  <div class="about">
    <center>
    <h1>About us</h1>
    </center>
  </div>
<center>
<div class="weare">
  <h1> This project does real-time recognition of different animal activities via Machine Learning technologies.
    That gives new opportunities for researchers and allows everybody who loves animals better understands how they are spent time.
  </h1>
  <p><img src="/static/images/qr_test.png" alt="github qr :(" height="250" width="250"></p>
</div>
</center>

{% endblock %}

