<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h4 class="logo">The Secret Life of Animals</h4>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Upload video</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>


  </body>
</html>
